# Project exclude paths
/mall-auth-server/target/
/mall-cart/target/
/mall-common/target/
/mall-coupon/target/
/mall-gateway/target/
/mall-member/target/
/mall-order/target/
/mall-product/target/
/mall-search/target/
/mall-seckill/target/
/mall-third-party/target/
/mall-ware/target/
/renren-fast/target/
/renren-generator/target/